
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{
    background-color: #f1f4ff;
    font-family: sans-serif;
}

.container{
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    padding-top: 25px;
}


.sub-download{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.sub-type{
    width: 70px;
    height: 70px;
    border: 1px soild #e8ecf9;
    margin: auto;
    border-radius: 50px;
}

span{
    margin: 0;
    padding: 0;
}