
html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body{
    background-color: #f1f4ff;
    font-family: sans-serif;
}

.container{
    background-color: #ffffff;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    padding-top: 25px;
}


.sub-download{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.sub-type{
    width: 70px;
    height: 70px;
    border: 1px solid #e8ecf9;
    margin: auto;
    border-radius: 50px;
}

span{
    margin: 0;
    padding: 15px;
}

i{
    font-size: 0.4rem;
    color: #1b255a;
    padding: 3px;
}

button{
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1b255a;
    color: #b8bbcc;
    padding: 10px;
    width: 10rem;
    box-shadow: 1px 1px 15px #1b255a;
}

.img{
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}

.sub-type > p{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 0.5rem;
    font-weight: bold;
    color: #1b255a;
}

.amount > p{
    margin-top: 0;
    margin-bottom: 2rem;
    padding-top: 0;
    font-size: 0.5rem;
    color: #1b255a;
    font-weight: bold;
}

.sub-download > div{
    border: 0.5px solid #e8ecf9;
    border-radius: 10px;
    padding: 8px;
}

.sub-download > :nth-child(2){
    background-color: #1b255a;
    color: #e8ecf9;
}

h4{
    margin-bottom: 0;
    margin-top: 15px;
    font-size: 1.5rem;
    color: #1b255a;
    font-weight: bolder;
}

p{
    font-size: 0.55rem;
    color: #1b255a;
    font-weight: bold;
}